.principal {
    border-radius: 1rem 1rem 0 0;
    padding: $separacion/2;
    margin-top: -7rem;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $separacion;
    p {
        color: #2d3359;
    }
}