.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    align-items: flex-end;
    text-align: center;
    .dia {
        background-color: green;
        color: white;
    }
}